<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333124906332-j7ii86k96qthuvu9lfa0en8qh8vlse4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333124906332-j7ii86k96qthuvu9lfa0en8qh8vlse4n</string>
	<key>API_KEY</key>
	<string>AIzaSyDb2_LcQS-DY8Ce-vLy1BOtaEzzcSmSJ5k</string>
	<key>GCM_SENDER_ID</key>
	<string>333124906332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.candidohdiego.rememberWords</string>
	<key>PROJECT_ID</key>
	<string>rememberwords-d9822</string>
	<key>STORAGE_BUCKET</key>
	<string>rememberwords-d9822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333124906332:ios:1547e433eb64e153aaa599</string>
	<key>DATABASE_URL</key>
	<string>https://rememberwords-d9822-default-rtdb.firebaseio.com</string>
</dict>
</plist>